<div class="row">
  <div class="alert alert-primary mt-3" role="alert">
    <i class="fa-solid fa-circle-info"></i> Information: Select Template to
    Continue
  </div>
</div>

<div class="row justify-content-evenly">
  <div class="col-4 w-50">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Published"> </mat-tab>
      <mat-tab label="Expired"> </mat-tab>
      <mat-tab label="Closed"> </mat-tab>
      <mat-tab label="All Surveys"> </mat-tab>
    </mat-tab-group>
  </div>
  <div class="ml-5 col-4 w-50">
    <div class="input-group mb-3">
      <button type="button" class="btn btn-primary">Go to dashboard</button>

      <input
        type="text"
        class="form-control"
        placeholder="Search Survey Name"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
      >
        Filter
      </button>
    </div>
  </div>
</div>
