<div class="col-lg-12 text-center w-auto" id="card-boarder">
  <div
    (click)="onSelectCard()"
    class="cards w-auto"
    [ngClass]="{ selected: setClasses() }"
  >
    <div [ngSwitch]="surveyData['SURVEY_STATUS_EN']">
      <i
        *ngSwitchCase="'Published'"
        class="fa-solid fa-circle-check mx-auto"
      ></i>
      <i *ngSwitchCase="'Expired'" class="fa-solid fa-clock"></i>
      <i *ngSwitchCase="'Closed'" class="fa-solid fa-lock"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ surveyData["SurveyName"] }}</h5>
    </div>
    <div class="w-50 m-auto p-auto">
      <div *ngIf="multiDate; else elseBlock">
        <div class="dropdown">
          <button
            class="btn btn-success dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select Period
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let SurveyDate of surveyData['SurveyPeriods']">
              <a class="dropdown-item" href="#">
                {{ SurveyDate["START_DATE"] | date }} -
                {{ SurveyDate["END_DATE"] | date }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ng-template #elseBlock
        >{{ surveyData["SurveyPeriods"][0]["START_DATE"] | date }} -
        {{ surveyData["SurveyPeriods"][0]["END_DATE"] | date }}
      </ng-template>
    </div>
  </div>
</div>
