.fa-circle-check {
  color: rgb(48, 219, 48);
  background-color: white;
}
#card {
  border-top: 3px solid rgb(48, 219, 48);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
#card:hover {
  border: 3px solid rgb(48, 219, 48);
}
